// Fonts
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Roboto Condensed', sans-serif;

// Color theme
$primary-color: #151515;
$primary-color-first-variant: #202020;
$primary-color-second-variant: #9a9a9a;
$secondary-color: #e72b24;
$light-color: #f2f2f2;

// Media queries
$above480: '480px';
$above600: '600px';
$above768: '768px';
$above900: '900px';
$above1024: '1024px';
$above1200: '1200px';

// padding
$general-padding: 0.5rem;

// max-width desktop

$max-width-desktop: 70%;