.character-card-container {
	margin: 0.6rem;
	border-radius: 2px;
	position: relative;
	box-shadow: 5px 5px 15px 1px rgba(154,154,154,0.45);

	.character-photo {
		border-radius: 2px;
		min-height: 16.3rem;
		max-width: 16rem;
		min-width: 16rem;
		cursor: pointer;

		@media screen and(min-width: $above1200) {
			max-width: 14rem;
			min-width: 14rem;
		}

		@media screen and(min-width: 1920px) {
			max-width: 16rem;
			min-width: 16rem;
		}
	}

	.character-info {
		width: 100%;
		border-radius: 2px;
		position: absolute;
		bottom: 0;
		display: flex;
		justify-content: space-around;
		background-color: #202020ee;
		align-items: center;
		color: $light-color;

		.character-name {
			text-align: center;
			cursor: pointer;
		}
	}
}
