.superheroes-section {
	padding-top: 1rem;

	@media screen and (min-width: $above1200) {
		padding-top: 2.2em;
		max-width: 70%;
		margin: 0 auto;
	}
}

.title-section {
	text-align: center;
	font-style: italic;
	font-family: $secondary-font;
	font-weight: 700;
	letter-spacing: 0.9px;

	.title-heroes {
		color: $secondary-color;
	}

	@media screen and (min-width: $above600) {
		font-size: 1.5em;
	}

	@media screen and (min-width: $above1200) {
		font-size: 1.8em;
	}
}

.tittle-underline {
	width: 40%;
	height: 3px;
	border: none;
	border-radius: 10px;
	background-color: $secondary-color;
}


.all-superheroes {
	margin: 0 auto;
	padding-top: 2.2em;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	@media screen and (min-width: $above600) {
		max-width: 95%;
	}

	@media screen and (min-width: $above1024) {
		max-width: 85%;
	}

	@media screen and (min-width: $above1200) {
		max-width: 70%;
	}
}