.regular-button {
	margin: 0.5rem;
	padding: 0.6rem 0.9rem;
	border: none;
	width: fit-content;
	display: block;
	font-family: $secondary-font;
	font-weight: 500;
	text-align: center;
	color: $light-color;
	text-decoration: none;
	letter-spacing: .4px;
	text-transform: uppercase;
	background-color: $secondary-color;
	clip-path: polygon(100% 0%, 15% 0%, 0% 40%, 0% 100%, 25% 100%, 83% 100%, 100% 60%);
	outline: none;
	cursor: pointer;

	&:hover{
	background-color: #8f1b17;
	transition: background-color 0.5s ease-in;
	}
}

.search-button {
	margin: 0.5rem 0;
	height: 38px;
	clip-path: polygon(100% 0%, 0% 0%, 0% 40%, 0% 100%, 25% 100%, 75% 100%, 100% 60%);
}
