.pagination-container {
	margin: 1rem 0;
	padding: 0 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style-type: none;
	font-family: $secondary-font;

	@media screen and (min-width: $above480) {
		margin: 2rem auto;
		width: 60%
	}

	@media screen and (min-width: $above600) {
		margin: 2rem auto;
		width: 40%
	}

	.pagination-buttons-container {
		display: flex;
	}

	.pagination-item {
		padding: 0.5rem;
		cursor: pointer;
		color: $secondary-color;
		font-weight: 700;

		&:hover {
			opacity: 0.7;
		}
	}
}
